$font: Helvetica, sans-serif;
$primary-color: #333;
$sidebar-width: 250px;

html, body {
  font: $font;
  color: $primary-color;
  height: 100%;
}

.main {
  height: 100%;
  // float: left;
  // width: auto;
  margin-right: 290px;
  padding: 20px;
}

.sidebar {
  background: #333;
  height: 100%;
  float: right;
  width: $sidebar-width;
  padding: 20px;

  nav ul {

    font-size: $small-font;
    margin:0;
    padding: 0;

    li {
      text-transform: uppercase;
      display: inline-block;
    }

    a {
      color: #fff;
    }
  }

  h2 {
    color: #fff;
  }

}

.brand {
  h1 {
    margin: 0;
    text-transform: uppercase;
    // padding: 10px 20px;
  }
}

.host-button-container {
    margin-left: -20px;
    margin-right: -20px;
}

.host-button {

  width: 30%;
  background:red;
  height: 200px;
  float:left;
  margin: 2.5% 1.25%;

  .challenge-icons {}
  .challenge-language {}
  .challenge-title {}
  .challenge-description {}
  .challenge-difficulty {}



}
