$primary-color: #333;
$sidebar-width: 250px;
$background-color: white;

$easy-color: #00d1ab;
$easy-color-dark: darken($easy-color, 20%);
$medium-color: #2aa2ff;
$medium-color-dark: darken($medium-color, 20%);
$hard-color: #ff6261;
$hard-color-dark: darken($hard-color, 35%);
